/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


body {
  text-align: center;
  background-color: #cce7f0;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #66a5ba;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.review {
  font-size: 25px;
}

.review_body{
  font-size: 25px;


}

p {
  text-align: center;
}

h1 {
  padding: 50px;
  border: 1px solid #5D6063;
}

.link{
  font-weight: bold;
  border: 2px solid #5D6063;
  margin-left: 45%;
  margin-right: 45%;
}

.cost{
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}
.show_review{
  font-size: 25px;
}

.bold{
  font-weight: bold;

}

.boldlink{
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  padding: 50px;
  border: 1px solid #5D6063;

}
